<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <p><strong>本当に退会しますか？</strong></p>
      <label><%= link_to"退会しない",public_customer_path(@customer),class:"btn btn-info" %></label>
      <label>　　　　　</label>
      <label><%= link_to"退会する",public_customers_withdraw_path(@customer),method: :patch ,class:"btn btn-danger"%></label>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>


