<h1>Public::Homes#about</h1>
<p>Find me in app/views/public/homes/about.html.erb</p>

<h1>About</h1>

<p>ながのCAKEは全国配送可能なケーキ屋さんです。</p>
<p>お子様からお年寄りの方までいただけるよう、</p>
<p>様々なバリエーションをご用意しております。</p>
<p>また、全国へ発送可能ですので「いつ」でも「どこ」ご注文いただけます。</p>
<p>ぜひご注文ください。</p>