<div class="container">

<h5>ジャンルを編集</h5>

  <%= form_with model:@genre,url:admin_genre_path(@genre.id), methiod: :patch do |f| %>
  
  <%= f.text_field :name %>
  
  <%= f.submit'変更保存',class:"btn btn-success"%>
  
  <% end %>

</div>
  
